section#contact {

    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
}

/* iframe map */

.map {
    border: 0;
    width: 100%;
    height: 550px;
    overflow: hidden;
    background: #60aed1;
    opacity: 0.5;

}

.bloc-contact {
    position: absolute;
    top: 140px;
    right: 150px;
    background: rgba( 255, 255, 255, 0.8);
    width: 250px;
    height: auto;
    padding: 15px;


}

.bloc-contact__title {
    font-family: "Roboto Bold";
}

.bloc-contact__infos {

    font-style: normal;
    /* Retirer le style italic*/
    line-height: 20px;
    font-size: 10pt;
    /* A PASSER MOINS BOLD!  */
    margin-top: 15px;
    margin-bottom: 15px;
}

.bloc-contact__form {
    height: 285px;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.bloc-contact__form input:last-of-type {
    /*  Bouton envoyer */
    flex: 0 0 auto;
    align-self: flex-start;
}

textarea {
    border: darkgray;
}

/* -------------------- Media queries ------------------ */

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}
