/* Galerie */

#portfolio {
    background: #f5f5f5;
}

.gallery {
    padding-top: 20px;
}

/* Le Bloc du menu de la galerie */

.gallery__nav {
    display: block;
}

/* Le bloc contenant les differentes cartes des projets*/

.gallery__cards-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 40px;
}

/* Menu utiliser avec la galerie */

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.menu__item {
    position: relative;
    width: 90px;
    text-align: center;
    display: flex;
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 7px 7px 7px;
    color: darkslategrey;
    background: #e5e5e5;
    border-radius: 4px;

    flex: 1 0 auto;
}

.menu__link:hover {
    background-color: #60aed1;
    border-bottom: 3px solid #54a1c5;
    color: white;
    transition: color .3s ease;
    cursor: pointer;

    transition: color .8s ease;
}

/* Mise en marche du menu de tri des projets via radio/label */
/* Masquer les radio */
.gallery input[type=radio]{
    display:none;
}

/* Onglet "Tout" ---------------------------*/

/* Modification de l'etat du bouton au clic */

#Tout[type=radio]:checked ~ nav label[for=Tout] {
    background: #60aed1;
    color: white;
    border-bottom: 3px solid #54a1c5;
}

#Tout[type=radio]:checked ~ nav label[for=Tout]:after {
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 50%;
    /* creer un triangle en css */
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
    border-top: 9px solid #54a1c5;
}

/* Affichage de tous les projets */

#Tout[type=radio]:checked ~ .gallery__cards-wrapper > .card {
    display: block;
}

/* Onglet "Creatif" ------------------------*/

/* Modification de l'etat du bouton au clic */

#Creatif[type=radio]:checked ~ nav label[for=Creatif] {
    background: #60aed1;
    color: white;
    border-bottom: 3px solid #54a1c5;
}

#Creatif[type=radio]:checked ~ nav label[for=Creatif]:after {
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 50%;
    /* creer un triangle en css */
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
    border-top: 9px solid #54a1c5;
}

/* Masquer tous les projets qui ne comportent pas la classe .projet-creatif*/

#Creatif[type=radio]:checked ~ .gallery__cards-wrapper > .card:not(.projet-creatif) {
    display: none;
}

/* Onglet "Entreprise" ---------------------*/

/* Modification de l'etat du bouton au clic */

#Entreprise[type=radio]:checked ~ nav label[for=Entreprise] {
    background: #60aed1;
    color: white;
    border-bottom: 3px solid #54a1c5;
}

#Entreprise[type=radio]:checked ~ nav label[for=Entreprise]:after {
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 50%;
    /* creer un triangle en css */
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
    border-top: 9px solid #54a1c5;
}

/* Masquer tous les projets qui ne comportent pas la classe .projet-entreprise*/

#Entreprise[type=radio]:checked ~ .gallery__cards-wrapper > .card:not(.projet-entreprise) {
    display: none;
}

/* Onglet "Portfolio" ----------------------*/

/* Modification de l'etat du bouton au clic */

#Portfolio[type=radio]:checked ~ nav label[for=Portfolio] {
    background: #60aed1;
    color: white;
    border-bottom: 3px solid #54a1c5;
}

#Portfolio[type=radio]:checked ~ nav label[for=Portfolio]:after {
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 50%;
    /* creer un triangle en css */
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
    border-top: 9px solid #54a1c5;
}

/* Masquer tous les projets qui ne comportent pas la classe .projet-portfolio*/

#Portfolio[type=radio]:checked ~ .gallery__cards-wrapper > .card:not(.projet-portfolio) {
    display: none;
}



/* ----------------------------------------- */

/* Styles des cartes / Images des projets -- */

.card {
    position: relative;
    flex: 0 1 24%;
    margin-bottom: 20px;
}

.card__img {
    height: auto;
    width: 100%;
}

.card__description {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    bottom: 4px;
    padding: 10px 20px;
}

.card__title {
    font-family: "Roboto Bold";
    color: white;
    font-size: 9pt;
}

.card__text {
    color: white;
    font-family: "Roboto Regular";
    font-size: 7pt;
}


/* Au survol d'une carte - */

.card:hover > .card__description {
    display: block;
    background: rgba(0, 0, 0, 0.5);

}

/* Position de l'icon fa-eye  */

.card__description > a > .fa-eye {
    position: absolute;
    right: 5%;
    top: -1.2em;

    width: 2.3em;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;

    border: solid 1.5px white;
    border-radius: 50%;
    background: #60aed1;
    color: white;
}

/* Changement de l'etat au survol de l'icon */

.card__description > a:hover > .fa-eye {
    background: white;
    color: #60aed1;
    border: solid 1.5px #60aed1;

}

/* -------------------- Media queries ------------------ */

@media screen and (max-width: 1200px) {
    /* l'utilisation de flexbox suffit */
}

@media screen and (max-width: 992px) {
    
    .card {
        flex: 0 1 49%;
    }
}

@media screen and (max-width: 768px) {

    .card {
        flex: 0 1 100%;
    }
}
