/* ------------ navbar.css ------------------ */

.navbar {
    margin: 0;

    position: fixed;
    top: 0;

    height: 80px;
    width: 100%;

    background: #ffffff;
    z-index: 9999;
}

.navbar__logo {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.navbar__menu {
    float: right;
}
/* checkbox pour ouvrir et fermer le menu sur petit ecran */
.navbar__menu > label{
    display: none;
    position:relative;
    top:15px;
    right:10px;
    cursor: pointer;
}
.navbar__menu > input[type=checkbox]{
    display: none;
}
/* ------------------- .menu ---------------------- */

.main-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.main-menu__item {
    float: left;
    margin-left: 60px;
    padding: 30px 10px 0 10px;
    list-style: none;
}

.main-menu__item:first-child {
    margin-left: 0px;
}

.main-menu__item--active {
    border-top: 2px solid #60aed1;
    padding-top:28px;
}

.main-menu__item--active > a {
    color: #60aed1;
    margin-top: -2px;
}

.main-menu__link {
    text-decoration: none;
    color:darkslategrey;
}

.main-menu__link:hover {
    color: #60aed1;
}


/* -------------------- Media queries ------------------ */

@media screen and (max-width: 1280px) {
    .main-menu__item {
        margin-left: 45px;
    }

}

@media screen and (max-width: 1024px) {
    .navbar {
        height: 60px;
    }
    .navbar__logo > a > img {
        max-height: 40px;
    }
    .main-menu__item {
        margin-left: 30px;
        padding-top: 20px;
    }


}

@media screen and (max-width: 768px) {

    /* Afficher le menu mobile  */
    .navbar {
        justify-content: space-between;
        height: 60px;
    }
    .navbar__menu{
        position:absolute;
        top:0;
        left:0;
        width:100%
    }
    .main-menu {
        display: none;
        margin: 0;
        float:none;
        width:100%;
    }
    .main-menu__item {
        margin: 0;
        width:100%;
        padding: 20px 5px;
        text-align:center;
        border-bottom:1px solid lightgrey;
        background:white;
    }
    .main-menu__item:first-child {
        margin: 0;
        width:100%;
        margin-top:60px;
    }
    .main-menu__item--active{
        padding-top:18px;
    }
    .navbar__menu > input[type=checkbox]:checked ~ ul {
        display: block;
    }
    .navbar__menu > label{
        position:absolute;
        display: block;
        color:grey;
        float:right;
    }
    .navbar__menu > input[type=checkbox]:checked ~ label {
        color:#60aed1;
    }
    
     
}
