/* ------------ slider.css ------------------ */

.slider {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.slider__text {
    color: white;
    position: relative;
    top: 40%;
    left: 5%;
}

/* ---- Bloc contenant les slides ---- */

.slider__slides {
    animation: move 20s infinite;
    position:relative;
    height: 550px;
    width: 100%;
}

/* Slide par defaut */

.slider__slide {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Slide 1  */

.slider__slide--1 {
    left: 0;
    background: url('../images/slider/bg1.jpg');
    background-size: cover;
}

/* slide 2*/

.slider__slide--2 {
    left: 100%;
    background: url('../images/slider/bg2.jpg');
    background-size: cover;
}
/* --- Changement de slides --- */

/* On masque les input de type radio*/
.slider input[type=radio]{
    display:none;
}
/* Desactiver l'animation automatique à l'appui d'un bouton et déplacer le slide*/
#previous-slide:checked ~ .slider__slides{
    left:0;
    animation:none;
}

#next-slide:checked ~ .slider__slides{
    left:-100%;
    animation:none;
}

/* style des boutons */
.slider__nav {
    /* Bouton de changement de slide  */
    display: block;
    position: absolute;
    top: 45%;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    cursor: pointer;
    z-index:99;
}

.slider__nav:hover {
    /* Au survol du bouton */
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 1);
}

.slider__nav--left {
    /* bouton de gauche */
    left: -30px;
}

.slider__nav--right {
    /* bouton de droite */
    right: -30px;
}

.slider__nav--right > .fa {
    /* icon dans bouton de gauche (<)  */
    position: absolute;
    margin-left: -15px;
    margin-top: -7px;
}

.slider__nav--left > .fa {
    /* icon dans bouton de droite  (>)  */
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}


/* -- Animation automatique du slider -- */
@keyframes move {
    0% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }

}

/* -------------------- Media queries ------------------ */

@media screen and (max-width: 1280px) {
    .slider__slides,
    .slider {
        max-height: 450px;
    }
    .slider__text {
        width: 550px;
    }
}

@media screen and (max-width: 1024px) {
    .slider__slides,
    .slider {
        max-height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .slider__slides,
    .slider {
        max-height: 200px;
    }
    .slider__text {
        top: 30%;
        width: 300px;
    }
    .slider__text h1 {
        font-size: 12pt;
    }
    .slider__text p {
        font-size: 8pt;
    }
}