/* ------------ slider.css ------------------ */

.slider {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.slider__title{ 
    position:absolute;
    color: white;
    z-index: 99;
    top:30%;
    max-width: 50%;
    left: 10%;
    font-size:28pt
}
.slider__text {
    position: relative;
    top: 50%;
    left: 10%;
}
.slider__text p{
    color: white;
    
}

/* ---- Bloc contenant les slides ---- */

.slider__slides {
    /* Changement de slide automatique */
    animation: move 20s infinite;
    position:relative;
    height: 550px;
    width: 100%;
}

/* Slide par defaut */

.slider__slide {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Slide 1  */

.slider__slide--1 {
    left: 0;
    background: url('../images/slider/bg1.jpg')center;
    background-size: cover;
}
.slider__slide--1::after{
    content: '';
    position:absolute;
    background:#60aed1;
    height:3px;
    width:50%;
    bottom:0;
    left:0;
}

/* slide 2*/

.slider__slide--2 {
    left: 100%;
    background: url('../images/slider/bg2.jpg')center;
    background-size: cover;
}
.slider__slide--2::after{
    content: '';
    position:absolute;
    background:#60aed1;
    height:3px;
    width:50%;
    bottom:0;
    left:50%;
}
/* --- Changement de slides --- */

/* On masque les input de type radio*/
.slider input[type=radio]{
    display:none;
}
/* Desactiver l'animation automatique à l'appui d'un bouton et déplacer le slide*/
#previous-slide:checked ~ .slider__slides{
    left:0;
    animation:none;
}

#next-slide:checked ~ .slider__slides{
    left:-100%;
    animation:none;
}

/* style des boutons */
.slider__nav {
    /* Bouton de changement de slide  */
    position: absolute;
    top: 39%;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    cursor: pointer;
    z-index:99;
}

.slider__nav:hover {
    /* Au survol du bouton */
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}

.slider__nav--left {
    /* bouton de gauche */
    left: -30px;
}

.slider__nav--right {
    /* bouton de droite */
    right: -30px;
}

.slider__nav--right > .fa {
    /* icon dans bouton de gauche (<)  */
    position: absolute;
    margin-left: -15px;
    margin-top: -7px;
}

.slider__nav--left > .fa {
    /* icon dans bouton de droite  (>)  */
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}


/* -- Animation automatique du slider -- */
@keyframes move {
    0% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }

}

/* -------------------- Media queries ------------------ */



@media screen and (max-width: 1200px) {
    .slider__slides,
    .slider {
        height: 450px;
    }
    .slider__title {
        top:25%;
    }
    .slider__text {
        max-width: 450px;
    }
}

@media screen and (max-width: 992px) {
    .slider__slides,
    .slider {
        max-height: 350px;
    }
    .slider__title {
        top:20%;
        left:7%;
        font-size:22pt
    }
    .slider__text {
        max-width: 45%;
        left:7%;
        top:45%;
    }
}

@media screen and (max-width: 768px) {
    .slider__slides,
    .slider {
        height: 290px;
    }
    .slider__title {
        top:20%;
        left:5%;
        font-size:17pt
    }
    .slider__text {
        left:5%;
        width:45%;
    }
    .slider__text p {
        font-size: 9pt;
    }
}
@media screen and (max-width: 520px) {
    
    .slider {
        min-height:290px;
    }
    .slider__slides{
        /* on desactive l'animation*/
        animation:none;
    }
    .slider__slide, .slider__slide--1{
        position:relative;
        height:100px;
        min-height:150px;
        width:100%;
    }
    
    /*  Pour masquer 
        les boutons de changemen de slide
        le slide 2
        la barre bleu sous le slide 1 */
    .slider__nav,.slider__slide--2, .slider__slide--1::after{
        display:none;
    }
    
    .slider__title {
        top:0;
        left:5%;
        padding:6%;
        margin:0;
        font-size:15pt;
    }
    .slider__text {
        margin:auto;
        top:170px;
        left:0;
        text-align: center;
        width: 80%;
        max-width:80%;
        border:3px solid #60aed1;
        padding:5px 5px 20px 5px;
    }
    .slider__text p {
        color:darkgrey;
        
    }
}